@{
    Layout = "~/Views/Shared/_Template.cshtml";
}
<nav class="navbar navbar-left">
    <ul class="nav nav-pills nav-stacked">
        <li>@Html.ActionLink("Proprietário", "Index", "Home", new { area = "Proprietario" }, new { })</li>
        <li>@Html.ActionLink("Veículos", "Index", "Veiculos", new { area = "Proprietario" }, new { })</li>
        <li>@Html.ActionLink("Compra e Venda", "Index", "CompraVenda", new { area = "Proprietario" }, new { })</li>
    </ul>
</nav>
<div class="container">
    @RenderBody()
</div>
